div {
	border-radius: 5px;
}

#header {
	position: center;
	background-color: yellow;
}

#name {
	font-family: Verdana, sans-serif;
	
}

#date {
	font-style: italic;
}

#list {
	list-style-type: square;
}

h1 {
	color:blue;

}

h2 {
	background-color: green;
	width: 1000px;
}