div {
	border-radius: 5px;
}

#header {
	position: center;
	background-color: yellow;
}

#name {
	font-family: Verdana, sans-serif;
	
}

#date {
	font-style: italic;
}

#list {
	list-style-type: lower-roman;
}

#image {
	height:300px;
	width:300px;
	margin-left: 100px;
	margin-right: 100px;
	padding-right: 100px;
}

h1 {
	color:blue;

}

h2 {
	background-color: green;
	width: 1000px;
}